<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="#"></a>
    <a href="{% url 'logout' %}">logout</a>
    <a href="{% url 'saveartical'  %}">savedraf</a>

    {% load static %}

    {% for i in artical %}
    <li><img src="{{ i.artical.artical_imaga.url }}"> </li>
    
    <li>{{i.artical.tital}}</li>
    <li>{{i.artical.content}}</li>
    <li>{{i.tag}}</li>   
    {% endfor %}
    <div>
    {% for k,v in count_all_tag.items %}
      
       <a href="{% url 'articalfind' cont_tag=k  %}">{{ k }}{{ v }}</a> 
        
    {% endfor %}
    </div>
 
    <a href="0/articaltag">Add Artical</a>

</body>
</html>